.container{
    display: flex;
    justify-content: space-between;
}
@media  screen and  (max-width:767px){
    .container{
        flex-direction: column;
    }
    
}

.nav-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 85%;
  max-width: 1110px;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 15px;
}

@media screen and (max-width:767px){
    .nav-container{
        flex-direction: column;
        width: 100%;
    padding-right: 15px;

    }
    
}

.mobile{
    display: flex;
    justify-content: space-between;
}

@media screen and (min-width:768px){
    .mobile{
        display: none;
    }
    
}

@media screen and (max-width : 767px) {
    .lg-container{
        display: none;
    }
    
}
.img{
    width: 120px;
}

@media screen and (min-width:768px) {
    .img{
        width: 165px;
    }
    
}

.lg-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1110px;
  }

.nav-menu {
    display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-self: flex-end;
  flex: 1;
  list-style-type: none;
  margin-top: 0px;
  margin-bottom: 0px;
}

.butt{
  font-family: 'Roboto';
  font-weight: 600;
  font-size: 10px;
  padding: 8px 16px;
  color: #ffffff;
  background-color: #0967d2;
  border: none;
  border-radius: 4px;
  margin-left: 14px;
  cursor: pointer;
  outline: none;
}

.nav-menu{
    font-family: 'Roboto';
  text-decoration: none;
  margin: 10px;
  font-weight: 400;
  font-size: 16px;

}

.nav-link{
    text-decoration: none;
  color: #475569;
}
